.Basket {
	margin-top: 40px;
	.Content {
		.navBar {
			button {
				font-size: 18px;
				padding: 13px 18px;
				border-radius: 3px;
				font-weight: 600;
				border: none;
				color: white;
				background-color: rgba(13, 13, 246, 0.702);
				cursor: pointer;
				&:hover {
					background-color: blue;
				}
			}
		}

		.productBasket {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 20px;

			.card {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 20px;
				background-color: rgb(226, 225, 225);
				width: 400px;
				height: 500px;
				padding: 30px;
				border-radius: 10px;

				img {
					max-width: 300px;
					max-height: 300px;
				}

				button {
					font-size: 20px;
					padding: 10px 20px;
					border-radius: 10px;
					outline: none;
					border: none;
					cursor: pointer;
					background-color: white;
					color: black;
					font-weight: bold;
					transition: 0.3s ease-in-out;
				}
			}
		}
	}
}
