.Header {
  .Content {
    nav {
      display: flex;
      justify-content: space-between;
      .left {
      }
      .Right {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          img {
            max-width: 35px;
          }
        }
      }
    }
  }
}
